body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #0d314b;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 10vh;
}

.App {
  display: flex;
  align-items: flex-end;
}

.reset {
  display: flex;
  align-items: flex-end;
  align-items: center;
  justify-content: center;
}

.inc-1 {
  margin-left: -20px;
  color: rebeccapurple;
}

.dec-1 {
  margin-right: -20px;
  z-index: 1;
  color: red;
}
